<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.AALT_LC_LEFT</key>
  <array>
    <string>a.alt</string>
    <string>agrave.alt</string>
    <string>aacute.alt</string>
    <string>acircumflex.alt</string>
    <string>atilde.alt</string>
    <string>adieresis.alt</string>
    <string>amacron.alt</string>
    <string>abreve.alt</string>
    <string>aring.alt</string>
    <string>acaron.alt</string>
    <string>adotbelow.alt</string>
    <string>acircumflexacute.alt</string>
    <string>acircumflexgrave.alt</string>
    <string>acircumflextilde.alt</string>
    <string>acircumflexdotbelow.alt</string>
    <string>abreveacute.alt</string>
    <string>abrevegrave.alt</string>
    <string>abrevetilde.alt</string>
    <string>abrevedotbelow.alt</string>
    <string>aogonek.alt</string>
  </array>
  <key>public.kern1.A_LC_LEFT</key>
  <array>
    <string>a</string>
    <string>g</string>
    <string>q</string>
    <string>u</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>amacron</string>
    <string>abreve</string>
    <string>aring</string>
    <string>acaron</string>
    <string>adotbelow</string>
    <string>acircumflexacute</string>
    <string>acircumflexgrave</string>
    <string>acircumflextilde</string>
    <string>acircumflexdotbelow</string>
    <string>abreveacute</string>
    <string>abrevegrave</string>
    <string>abrevetilde</string>
    <string>abrevedotbelow</string>
    <string>aogonek</string>
    <string>gcircumflex</string>
    <string>gbreve</string>
    <string>gdotaccent</string>
    <string>gcommaaccent</string>
    <string>gcaron</string>
    <string>gmacron</string>
    <string>gtilde</string>
    <string>dotlessi</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>utilde</string>
    <string>udieresis</string>
    <string>umacron</string>
    <string>ubreve</string>
    <string>uring</string>
    <string>uhungarumlaut</string>
    <string>ucaron</string>
    <string>udieresismacron</string>
    <string>udieresisacute</string>
    <string>udieresiscaron</string>
    <string>udieresisgrave</string>
    <string>udotbelow</string>
    <string>uogonek</string>
    <string>gscript</string>
  </array>
  <key>public.kern1.A_UC</key>
  <array>
    <string>A</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Amacron</string>
    <string>Abreve</string>
    <string>Aring</string>
    <string>Acaron</string>
    <string>Adotbelow</string>
    <string>Acircumflexacute</string>
    <string>Acircumflexgrave</string>
    <string>Acircumflextilde</string>
    <string>Acircumflexdotbelow</string>
    <string>Abreveacute</string>
    <string>Abrevegrave</string>
    <string>Abrevetilde</string>
    <string>Abrevedotbelow</string>
    <string>Aogonek</string>
  </array>
  <key>public.kern1.B_UC_LEFT</key>
  <array>
    <string>B</string>
    <string>Bstroke</string>
    <string>Blinebelow</string>
  </array>
  <key>public.kern1.COLON</key>
  <array>
    <string>colon</string>
    <string>semicolon</string>
  </array>
  <key>public.kern1.C_LC_LEFT</key>
  <array>
    <string>c</string>
    <string>ccedilla</string>
    <string>cacute</string>
    <string>ccircumflex</string>
    <string>ccaron</string>
    <string>cdotaccent</string>
  </array>
  <key>public.kern1.C_UC_LEFT</key>
  <array>
    <string>C</string>
    <string>Ccedilla</string>
    <string>Cacute</string>
    <string>Ccircumflex</string>
    <string>Ccaron</string>
    <string>Cdotaccent</string>
  </array>
  <key>public.kern1.DASH</key>
  <array>
    <string>hyphen</string>
    <string>sfthyphen</string>
    <string>endash</string>
    <string>emdash</string>
    <string>figuredash</string>
    <string>horizontalbar</string>
  </array>
  <key>public.kern1.DCROAT_LC_LEFT</key>
  <array>
    <string>dcroat</string>
  </array>
  <key>public.kern1.D_LC_LEFT</key>
  <array>
    <string>d</string>
    <string>ddotbelow</string>
    <string>dlinebelow</string>
    <string>l.alt</string>
    <string>lacute.alt</string>
    <string>lcommaaccent.alt</string>
    <string>ldotbelow.alt</string>
    <string>ldotbelowmacron.alt</string>
    <string>llinebelow.alt</string>
    <string>fl.alt</string>
  </array>
  <key>public.kern1.ETH_LC</key>
  <array>
    <string>eth</string>
  </array>
  <key>public.kern1.E_LC_LEFT</key>
  <array>
    <string>e</string>
    <string>ae</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>ecaron</string>
    <string>edieresis</string>
    <string>emacron</string>
    <string>ebreve</string>
    <string>edotaccent</string>
    <string>edotbelow</string>
    <string>etilde</string>
    <string>ecircumflexacute</string>
    <string>ecircumflexgrave</string>
    <string>ecircumflextilde</string>
    <string>ecircumflexdotbelow</string>
    <string>eogonek</string>
    <string>emacronacute</string>
    <string>oe</string>
  </array>
  <key>public.kern1.E_UC_LEFT</key>
  <array>
    <string>E</string>
    <string>AE</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Ecaron</string>
    <string>Edieresis</string>
    <string>Emacron</string>
    <string>Ebreve</string>
    <string>Edotaccent</string>
    <string>Edotbelow</string>
    <string>Etilde</string>
    <string>Ecircumflexacute</string>
    <string>Ecircumflexgrave</string>
    <string>Ecircumflextilde</string>
    <string>Ecircumflexdotbelow</string>
    <string>Eogonek</string>
    <string>Emacronacute</string>
    <string>OE</string>
  </array>
  <key>public.kern1.F_LC_LEFT</key>
  <array>
    <string>f</string>
    <string>f_f</string>
  </array>
  <key>public.kern1.F_UC_LEFT</key>
  <array>
    <string>F</string>
  </array>
  <key>public.kern1.GERMANDBLS_LC_LEFT</key>
  <array>
    <string>germandbls</string>
  </array>
  <key>public.kern1.GERMANDBLS_UC</key>
  <array>
    <string>Germandbls</string>
  </array>
  <key>public.kern1.GUILLEFT</key>
  <array>
    <string>guilsinglleft</string>
    <string>guillemotleft</string>
  </array>
  <key>public.kern1.GUILRIGHT</key>
  <array>
    <string>guilsinglright</string>
    <string>guillemotright</string>
  </array>
  <key>public.kern1.G_LC</key>
  <array>
    <string>g.alt</string>
    <string>gcircumflex.alt</string>
    <string>gbreve.alt</string>
    <string>gdotaccent.alt</string>
    <string>gcommaaccent.alt</string>
    <string>gcaron.alt</string>
    <string>gmacron.alt</string>
    <string>gtilde.alt</string>
  </array>
  <key>public.kern1.G_UC_LEFT</key>
  <array>
    <string>G</string>
    <string>Gcircumflex</string>
    <string>Gbreve</string>
    <string>Gdotaccent</string>
    <string>Gcommaaccent</string>
    <string>Gcaron</string>
    <string>Gmacron</string>
    <string>Gtilde</string>
  </array>
  <key>public.kern1.HBAR_UC</key>
  <array>
    <string>Hbar</string>
  </array>
  <key>public.kern1.H_LC_LEFT</key>
  <array>
    <string>h</string>
    <string>m</string>
    <string>n</string>
    <string>hcircumflex</string>
    <string>hdotbelow</string>
    <string>hbrevebelow</string>
    <string>hbar</string>
    <string>mdotbelow</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>ntilde</string>
    <string>ncommaaccent</string>
    <string>ndotaccent</string>
    <string>ndotbelow</string>
    <string>nlinebelow</string>
    <string>napostrophe</string>
  </array>
  <key>public.kern1.H_UC_LEFT</key>
  <array>
    <string>H</string>
    <string>M</string>
    <string>N</string>
    <string>Hcircumflex</string>
    <string>Hdotbelow</string>
    <string>Hbrevebelow</string>
    <string>Ibreve</string>
    <string>Mdotbelow</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ntilde</string>
    <string>Ncommaaccent</string>
    <string>Ndotaccent</string>
    <string>Ndotbelow</string>
    <string>Nlinebelow</string>
  </array>
  <key>public.kern1.IALT_UC</key>
  <array>
    <string>I.alt</string>
    <string>Igrave.alt</string>
    <string>Iacute.alt</string>
    <string>Icircumflex.alt</string>
    <string>Itilde.alt</string>
    <string>Idieresis.alt</string>
    <string>Imacron.alt</string>
    <string>Idotaccent.alt</string>
    <string>Icaron.alt</string>
    <string>Idotbelow.alt</string>
    <string>Iogonek.alt</string>
  </array>
  <key>public.kern1.I_LC_LEFT</key>
  <array>
    <string>i</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>itilde</string>
    <string>idieresis</string>
    <string>imacron</string>
    <string>icaron</string>
    <string>idotbelow</string>
    <string>iogonek</string>
    <string>iogonek.d</string>
    <string>ibreve</string>
    <string>fi</string>
  </array>
  <key>public.kern1.I_UC_LEFT</key>
  <array>
    <string>I</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Itilde</string>
    <string>Idieresis</string>
    <string>Imacron</string>
    <string>Idotaccent</string>
    <string>Icaron</string>
    <string>Idotbelow</string>
    <string>Iogonek</string>
  </array>
  <key>public.kern1.J_LC</key>
  <array>
    <string>j</string>
    <string>jcircumflex</string>
    <string>dotlessj</string>
  </array>
  <key>public.kern1.J_UC_LEFT</key>
  <array>
    <string>J</string>
    <string>Jcircumflex</string>
  </array>
  <key>public.kern1.K_LC_LEFT</key>
  <array>
    <string>k</string>
    <string>kcommaaccent</string>
    <string>klinebelow</string>
    <string>kgreenlandic</string>
  </array>
  <key>public.kern1.K_UC_LEFT</key>
  <array>
    <string>K</string>
    <string>Kcommaaccent</string>
    <string>Klinebelow</string>
  </array>
  <key>public.kern1.LCARON_LC_LEFT</key>
  <array>
    <string>dcaron</string>
    <string>lcaron</string>
    <string>lcaron.alt</string>
  </array>
  <key>public.kern1.LCARON_UC_LEFT</key>
  <array>
    <string>Lcaron</string>
  </array>
  <key>public.kern1.LDOT_LC_LEFT</key>
  <array>
    <string>ldot</string>
    <string>ldot.alt</string>
  </array>
  <key>public.kern1.LSLASH_LC</key>
  <array>
    <string>lslash</string>
    <string>lslash.alt</string>
  </array>
  <key>public.kern1.L_LC_LEFT</key>
  <array>
    <string>l</string>
    <string>lacute</string>
    <string>lcommaaccent</string>
    <string>ldotbelow</string>
    <string>ldotbelowmacron</string>
    <string>llinebelow</string>
    <string>fl</string>
  </array>
  <key>public.kern1.L_UC_LEFT</key>
  <array>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcommaaccent</string>
    <string>Ldot</string>
    <string>Ldotbelow</string>
    <string>Ldotbelowmacron</string>
    <string>Llinebelow</string>
    <string>Lslash</string>
  </array>
  <key>public.kern1.OHORN_LC_LEFT</key>
  <array>
    <string>ohorn</string>
    <string>ohornacute</string>
    <string>ohorngrave</string>
    <string>ohorntilde</string>
    <string>ohorndotbelow</string>
  </array>
  <key>public.kern1.OHORN_UC_LEFT</key>
  <array>
    <string>Ohorn</string>
    <string>Ohornacute</string>
    <string>Ohorngrave</string>
    <string>Ohorntilde</string>
    <string>Ohorndotbelow</string>
  </array>
  <key>public.kern1.ORDINAL</key>
  <array>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
  </array>
  <key>public.kern1.O_LC_LEFT</key>
  <array>
    <string>b</string>
    <string>o</string>
    <string>p</string>
    <string>bstroke</string>
    <string>blinebelow</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>omacron</string>
    <string>ohungarumlaut</string>
    <string>ocaron</string>
    <string>odotbelow</string>
    <string>ocircumflexacute</string>
    <string>ocircumflexgrave</string>
    <string>ocircumflextilde</string>
    <string>ocircumflexdotbelow</string>
    <string>obreve</string>
    <string>omacronacute</string>
    <string>oslash</string>
    <string>oogonek</string>
    <string>thorn</string>
    <string>schwa</string>
  </array>
  <key>public.kern1.O_UC_LEFT</key>
  <array>
    <string>D</string>
    <string>O</string>
    <string>Q</string>
    <string>Dcaron</string>
    <string>Ddotbelow</string>
    <string>Dlinebelow</string>
    <string>Dcroat</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Omacron</string>
    <string>Ohungarumlaut</string>
    <string>Ocaron</string>
    <string>Odotbelow</string>
    <string>Ocircumflexacute</string>
    <string>Ocircumflexgrave</string>
    <string>Ocircumflextilde</string>
    <string>Ocircumflexdotbelow</string>
    <string>Obreve</string>
    <string>Omacronacute</string>
    <string>Oslash</string>
    <string>Oogonek</string>
    <string>Eth</string>
    <string>Schwa</string>
  </array>
  <key>public.kern1.PAREN_LEFT</key>
  <array>
    <string>parenleft</string>
    <string>bracketleft</string>
    <string>braceleft</string>
  </array>
  <key>public.kern1.PERCENT</key>
  <array>
    <string>percent</string>
    <string>perthousand</string>
  </array>
  <key>public.kern1.PUNCT</key>
  <array>
    <string>period</string>
    <string>comma</string>
    <string>ellipsis</string>
  </array>
  <key>public.kern1.P_UC_LEFT</key>
  <array>
    <string>P</string>
  </array>
  <key>public.kern1.QUOTE</key>
  <array>
    <string>quotesingle</string>
    <string>quotedbl</string>
  </array>
  <key>public.kern1.QUOTEBASE</key>
  <array>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
  </array>
  <key>public.kern1.QUOTELEFT</key>
  <array>
    <string>quoteleft</string>
    <string>quotedblleft</string>
    <string>commaturnedmod</string>
  </array>
  <key>public.kern1.QUOTERIGHT</key>
  <array>
    <string>quoteright</string>
    <string>quotedblright</string>
    <string>apostrophemod</string>
  </array>
  <key>public.kern1.R_LC_LEFT</key>
  <array>
    <string>r</string>
    <string>racute</string>
    <string>rcommaaccent</string>
    <string>rcaron</string>
    <string>rdotbelow</string>
    <string>rdotbelowmacron</string>
    <string>rlinebelow</string>
  </array>
  <key>public.kern1.R_UC_LEFT</key>
  <array>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
    <string>Rdotbelow</string>
    <string>Rdotbelowmacron</string>
    <string>Rlinebelow</string>
  </array>
  <key>public.kern1.S_LC</key>
  <array>
    <string>s</string>
    <string>sacute</string>
    <string>scircumflex</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>scommaaccent</string>
    <string>sdotaccent</string>
    <string>sdotbelow</string>
  </array>
  <key>public.kern1.S_UC</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scircumflex</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scommaaccent</string>
    <string>Sdotaccent</string>
    <string>Sdotbelow</string>
  </array>
  <key>public.kern1.THORN_UC_LEFT</key>
  <array>
    <string>Thorn</string>
  </array>
  <key>public.kern1.T_LC_LEFT</key>
  <array>
    <string>t</string>
    <string>tcaron</string>
    <string>tcedilla</string>
    <string>tcommaaccent</string>
    <string>tdotbelow</string>
    <string>tlinebelow</string>
    <string>tdieresis</string>
    <string>f_t</string>
  </array>
  <key>public.kern1.T_UC</key>
  <array>
    <string>T</string>
    <string>Tcaron</string>
    <string>Tcedilla</string>
    <string>Tcommaaccent</string>
    <string>Tdotbelow</string>
    <string>Tlinebelow</string>
  </array>
  <key>public.kern1.UHORN_LC_LEFT</key>
  <array>
    <string>uhorn</string>
    <string>uhornacute</string>
    <string>uhorngrave</string>
    <string>uhorntilde</string>
    <string>uhorndotbelow</string>
  </array>
  <key>public.kern1.UHORN_UC_LEFT</key>
  <array>
    <string>Uhorn</string>
    <string>Uhornacute</string>
    <string>Uhorngrave</string>
    <string>Uhorntilde</string>
    <string>Uhorndotbelow</string>
  </array>
  <key>public.kern1.U_UC_LEFT</key>
  <array>
    <string>U</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Utilde</string>
    <string>Udieresis</string>
    <string>Umacron</string>
    <string>Ubreve</string>
    <string>Uring</string>
    <string>Uhungarumlaut</string>
    <string>Ucaron</string>
    <string>Udieresismacron</string>
    <string>Udieresisacute</string>
    <string>Udieresiscaron</string>
    <string>Udieresisgrave</string>
    <string>Udotbelow</string>
    <string>Uogonek</string>
  </array>
  <key>public.kern1.V_LC</key>
  <array>
    <string>v</string>
  </array>
  <key>public.kern1.V_UC</key>
  <array>
    <string>V</string>
  </array>
  <key>public.kern1.W_LC</key>
  <array>
    <string>w</string>
    <string>wgrave</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
  </array>
  <key>public.kern1.W_UC</key>
  <array>
    <string>W</string>
    <string>Wgrave</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
  </array>
  <key>public.kern1.X_LC</key>
  <array>
    <string>x</string>
  </array>
  <key>public.kern1.X_UC</key>
  <array>
    <string>X</string>
  </array>
  <key>public.kern1.Y_LC</key>
  <array>
    <string>y</string>
    <string>ygrave</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>ydotaccent</string>
    <string>ydotbelow</string>
    <string>ytilde</string>
  </array>
  <key>public.kern1.Y_UC</key>
  <array>
    <string>Y</string>
    <string>Ygrave</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ydotaccent</string>
    <string>Ydotbelow</string>
    <string>Ytilde</string>
  </array>
  <key>public.kern1.ZERO</key>
  <array>
    <string>zero</string>
    <string>zero.0p</string>
    <string>zero.0ps</string>
  </array>
  <key>public.kern1.Z_LC</key>
  <array>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
    <string>zdotbelow</string>
  </array>
  <key>public.kern1.Z_UC</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>Zdotbelow</string>
  </array>
  <key>public.kern2.AALT_LC_RIGHT</key>
  <array>
    <string>ae</string>
    <string>a.alt</string>
    <string>agrave.alt</string>
    <string>aacute.alt</string>
    <string>acircumflex.alt</string>
    <string>atilde.alt</string>
    <string>adieresis.alt</string>
    <string>amacron.alt</string>
    <string>abreve.alt</string>
    <string>aring.alt</string>
    <string>acaron.alt</string>
    <string>adotbelow.alt</string>
    <string>acircumflexacute.alt</string>
    <string>acircumflexgrave.alt</string>
    <string>acircumflextilde.alt</string>
    <string>acircumflexdotbelow.alt</string>
    <string>abreveacute.alt</string>
    <string>abrevegrave.alt</string>
    <string>abrevetilde.alt</string>
    <string>abrevedotbelow.alt</string>
    <string>aogonek.alt</string>
  </array>
  <key>public.kern2.AE_UC_RIGHT</key>
  <array>
    <string>AE</string>
  </array>
  <key>public.kern2.A_LC_RIGHT</key>
  <array>
    <string>a</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>g</string>
    <string>o</string>
    <string>q</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>amacron</string>
    <string>abreve</string>
    <string>aring</string>
    <string>acaron</string>
    <string>adotbelow</string>
    <string>acircumflexacute</string>
    <string>acircumflexgrave</string>
    <string>acircumflextilde</string>
    <string>acircumflexdotbelow</string>
    <string>abreveacute</string>
    <string>abrevegrave</string>
    <string>abrevetilde</string>
    <string>abrevedotbelow</string>
    <string>aogonek</string>
    <string>ccedilla</string>
    <string>cacute</string>
    <string>ccircumflex</string>
    <string>ccaron</string>
    <string>cdotaccent</string>
    <string>dcaron</string>
    <string>ddotbelow</string>
    <string>dlinebelow</string>
    <string>dcroat</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>ecaron</string>
    <string>edieresis</string>
    <string>emacron</string>
    <string>ebreve</string>
    <string>edotaccent</string>
    <string>edotbelow</string>
    <string>etilde</string>
    <string>ecircumflexacute</string>
    <string>ecircumflexgrave</string>
    <string>ecircumflextilde</string>
    <string>ecircumflexdotbelow</string>
    <string>eogonek</string>
    <string>emacronacute</string>
    <string>gcircumflex</string>
    <string>gbreve</string>
    <string>gdotaccent</string>
    <string>gcommaaccent</string>
    <string>gcaron</string>
    <string>gmacron</string>
    <string>gtilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>omacron</string>
    <string>ohungarumlaut</string>
    <string>ocaron</string>
    <string>odotbelow</string>
    <string>ocircumflexacute</string>
    <string>ocircumflexgrave</string>
    <string>ocircumflextilde</string>
    <string>ocircumflexdotbelow</string>
    <string>obreve</string>
    <string>omacronacute</string>
    <string>oslash</string>
    <string>oe</string>
    <string>ohorn</string>
    <string>ohornacute</string>
    <string>ohorngrave</string>
    <string>ohorntilde</string>
    <string>ohorndotbelow</string>
    <string>oogonek</string>
    <string>gscript</string>
  </array>
  <key>public.kern2.A_UC</key>
  <array>
    <string>A</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Amacron</string>
    <string>Abreve</string>
    <string>Aring</string>
    <string>Acaron</string>
    <string>Adotbelow</string>
    <string>Acircumflexacute</string>
    <string>Acircumflexgrave</string>
    <string>Acircumflextilde</string>
    <string>Acircumflexdotbelow</string>
    <string>Abreveacute</string>
    <string>Abrevegrave</string>
    <string>Abrevetilde</string>
    <string>Abrevedotbelow</string>
    <string>Aogonek</string>
  </array>
  <key>public.kern2.COLON</key>
  <array>
    <string>colon</string>
    <string>semicolon</string>
  </array>
  <key>public.kern2.DASH</key>
  <array>
    <string>hyphen</string>
    <string>sfthyphen</string>
    <string>endash</string>
    <string>emdash</string>
    <string>figuredash</string>
    <string>horizontalbar</string>
  </array>
  <key>public.kern2.ETH_LC</key>
  <array>
    <string>eth</string>
  </array>
  <key>public.kern2.ETH_UC_RIGHT</key>
  <array>
    <string>Bstroke</string>
    <string>Dcroat</string>
    <string>Eth</string>
  </array>
  <key>public.kern2.F_LC_RIGHT</key>
  <array>
    <string>f</string>
    <string>f_f</string>
    <string>f_t</string>
    <string>fl.alt</string>
    <string>fi</string>
    <string>fl</string>
  </array>
  <key>public.kern2.GERMANDBLS_UC</key>
  <array>
    <string>Germandbls</string>
  </array>
  <key>public.kern2.GUILLEFT</key>
  <array>
    <string>guilsinglleft</string>
    <string>guillemotleft</string>
  </array>
  <key>public.kern2.GUILRIGHT</key>
  <array>
    <string>guilsinglright</string>
    <string>guillemotright</string>
  </array>
  <key>public.kern2.G_LC</key>
  <array>
    <string>g.alt</string>
    <string>gcircumflex.alt</string>
    <string>gbreve.alt</string>
    <string>gdotaccent.alt</string>
    <string>gcommaaccent.alt</string>
    <string>gcaron.alt</string>
    <string>gmacron.alt</string>
    <string>gtilde.alt</string>
  </array>
  <key>public.kern2.HBAR_LC_RIGHT</key>
  <array>
    <string>bstroke</string>
    <string>hbar</string>
  </array>
  <key>public.kern2.HBAR_UC</key>
  <array>
    <string>Hbar</string>
  </array>
  <key>public.kern2.H_UC_RIGHT</key>
  <array>
    <string>B</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>H</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>P</string>
    <string>R</string>
    <string>Blinebelow</string>
    <string>Dcaron</string>
    <string>Ddotbelow</string>
    <string>Dlinebelow</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Ecaron</string>
    <string>Edieresis</string>
    <string>Emacron</string>
    <string>Ebreve</string>
    <string>Edotaccent</string>
    <string>Edotbelow</string>
    <string>Etilde</string>
    <string>Ecircumflexacute</string>
    <string>Ecircumflexgrave</string>
    <string>Ecircumflextilde</string>
    <string>Ecircumflexdotbelow</string>
    <string>Eogonek</string>
    <string>Emacronacute</string>
    <string>Hcircumflex</string>
    <string>Hdotbelow</string>
    <string>Hbrevebelow</string>
    <string>Ibreve</string>
    <string>Kcommaaccent</string>
    <string>Klinebelow</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Lcommaaccent</string>
    <string>Ldot</string>
    <string>Ldotbelow</string>
    <string>Ldotbelowmacron</string>
    <string>Llinebelow</string>
    <string>Mdotbelow</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ntilde</string>
    <string>Ncommaaccent</string>
    <string>Ndotaccent</string>
    <string>Ndotbelow</string>
    <string>Nlinebelow</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
    <string>Rdotbelow</string>
    <string>Rdotbelowmacron</string>
    <string>Rlinebelow</string>
    <string>Thorn</string>
  </array>
  <key>public.kern2.IALT_UC</key>
  <array>
    <string>I.alt</string>
    <string>Igrave.alt</string>
    <string>Iacute.alt</string>
    <string>Icircumflex.alt</string>
    <string>Itilde.alt</string>
    <string>Idieresis.alt</string>
    <string>Imacron.alt</string>
    <string>Idotaccent.alt</string>
    <string>Icaron.alt</string>
    <string>Idotbelow.alt</string>
    <string>Iogonek.alt</string>
  </array>
  <key>public.kern2.I_LC_RIGHT</key>
  <array>
    <string>i</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>itilde</string>
    <string>idieresis</string>
    <string>imacron</string>
    <string>icaron</string>
    <string>idotbelow</string>
    <string>iogonek</string>
    <string>ibreve</string>
  </array>
  <key>public.kern2.I_UC_RIGHT</key>
  <array>
    <string>I</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Itilde</string>
    <string>Idieresis</string>
    <string>Imacron</string>
    <string>Idotaccent</string>
    <string>Icaron</string>
    <string>Idotbelow</string>
    <string>Iogonek</string>
  </array>
  <key>public.kern2.J_LC</key>
  <array>
    <string>j</string>
    <string>jcircumflex</string>
    <string>dotlessj</string>
  </array>
  <key>public.kern2.J_UC_RIGHT</key>
  <array>
    <string>J</string>
    <string>Jcircumflex</string>
  </array>
  <key>public.kern2.LSLASH_LC</key>
  <array>
    <string>lslash</string>
    <string>lslash.alt</string>
  </array>
  <key>public.kern2.LSLASH_UC_RIGHT</key>
  <array>
    <string>Lslash</string>
  </array>
  <key>public.kern2.L_LC_RIGHT</key>
  <array>
    <string>b</string>
    <string>h</string>
    <string>k</string>
    <string>l</string>
    <string>blinebelow</string>
    <string>hcircumflex</string>
    <string>hdotbelow</string>
    <string>hbrevebelow</string>
    <string>kcommaaccent</string>
    <string>klinebelow</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>ldot</string>
    <string>lcommaaccent</string>
    <string>ldotbelow</string>
    <string>ldotbelowmacron</string>
    <string>llinebelow</string>
    <string>germandbls</string>
    <string>thorn</string>
    <string>l.alt</string>
    <string>lacute.alt</string>
    <string>lcaron.alt</string>
    <string>ldot.alt</string>
    <string>lcommaaccent.alt</string>
    <string>ldotbelow.alt</string>
    <string>ldotbelowmacron.alt</string>
    <string>llinebelow.alt</string>
  </array>
  <key>public.kern2.NAPOSTROPHE_LC_RIGHT</key>
  <array>
    <string>napostrophe</string>
  </array>
  <key>public.kern2.N_LC_RIGHT</key>
  <array>
    <string>m</string>
    <string>n</string>
    <string>p</string>
    <string>r</string>
    <string>dotlessi</string>
    <string>kgreenlandic</string>
    <string>mdotbelow</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>ntilde</string>
    <string>ncommaaccent</string>
    <string>ndotaccent</string>
    <string>ndotbelow</string>
    <string>nlinebelow</string>
    <string>racute</string>
    <string>rcommaaccent</string>
    <string>rcaron</string>
    <string>rdotbelow</string>
    <string>rdotbelowmacron</string>
    <string>rlinebelow</string>
  </array>
  <key>public.kern2.ORDINAL</key>
  <array>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
  </array>
  <key>public.kern2.O_UC_RIGHT</key>
  <array>
    <string>C</string>
    <string>G</string>
    <string>O</string>
    <string>Q</string>
    <string>Ccedilla</string>
    <string>Cacute</string>
    <string>Ccircumflex</string>
    <string>Ccaron</string>
    <string>Cdotaccent</string>
    <string>Gcircumflex</string>
    <string>Gbreve</string>
    <string>Gdotaccent</string>
    <string>Gcommaaccent</string>
    <string>Gcaron</string>
    <string>Gmacron</string>
    <string>Gtilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Omacron</string>
    <string>Ohungarumlaut</string>
    <string>Ocaron</string>
    <string>Odotbelow</string>
    <string>Ocircumflexacute</string>
    <string>Ocircumflexgrave</string>
    <string>Ocircumflextilde</string>
    <string>Ocircumflexdotbelow</string>
    <string>Obreve</string>
    <string>Omacronacute</string>
    <string>Oslash</string>
    <string>OE</string>
    <string>Ohorn</string>
    <string>Ohornacute</string>
    <string>Ohorngrave</string>
    <string>Ohorntilde</string>
    <string>Ohorndotbelow</string>
    <string>Oogonek</string>
  </array>
  <key>public.kern2.PAREN_RIGHT</key>
  <array>
    <string>parenright</string>
    <string>bracketright</string>
    <string>braceright</string>
  </array>
  <key>public.kern2.PERCENT</key>
  <array>
    <string>percent</string>
    <string>perthousand</string>
  </array>
  <key>public.kern2.PUNCT</key>
  <array>
    <string>period</string>
    <string>comma</string>
    <string>ellipsis</string>
  </array>
  <key>public.kern2.QUOTE</key>
  <array>
    <string>quotesingle</string>
    <string>quotedbl</string>
  </array>
  <key>public.kern2.QUOTEBASE</key>
  <array>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
  </array>
  <key>public.kern2.QUOTELEFT</key>
  <array>
    <string>quoteleft</string>
    <string>quotedblleft</string>
    <string>commaturnedmod</string>
  </array>
  <key>public.kern2.QUOTERIGHT</key>
  <array>
    <string>quoteright</string>
    <string>quotedblright</string>
    <string>apostrophemod</string>
  </array>
  <key>public.kern2.SCHWA_LC_RIGHT</key>
  <array>
    <string>schwa</string>
  </array>
  <key>public.kern2.SCHWA_UC_RIGHT</key>
  <array>
    <string>Schwa</string>
  </array>
  <key>public.kern2.S_LC</key>
  <array>
    <string>s</string>
    <string>sacute</string>
    <string>scircumflex</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>scommaaccent</string>
    <string>sdotaccent</string>
    <string>sdotbelow</string>
  </array>
  <key>public.kern2.S_UC</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scircumflex</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scommaaccent</string>
    <string>Sdotaccent</string>
    <string>Sdotbelow</string>
  </array>
  <key>public.kern2.T_LC_RIGHT</key>
  <array>
    <string>t</string>
    <string>tcaron</string>
    <string>tcedilla</string>
    <string>tcommaaccent</string>
    <string>tdotbelow</string>
    <string>tlinebelow</string>
    <string>tdieresis</string>
  </array>
  <key>public.kern2.T_UC</key>
  <array>
    <string>T</string>
    <string>Tcaron</string>
    <string>Tcedilla</string>
    <string>Tcommaaccent</string>
    <string>Tdotbelow</string>
    <string>Tlinebelow</string>
  </array>
  <key>public.kern2.U_LC_RIGHT</key>
  <array>
    <string>u</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>utilde</string>
    <string>udieresis</string>
    <string>umacron</string>
    <string>ubreve</string>
    <string>uring</string>
    <string>uhungarumlaut</string>
    <string>ucaron</string>
    <string>udieresismacron</string>
    <string>udieresisacute</string>
    <string>udieresiscaron</string>
    <string>udieresisgrave</string>
    <string>udotbelow</string>
    <string>uogonek</string>
    <string>uhorn</string>
    <string>uhornacute</string>
    <string>uhorngrave</string>
    <string>uhorntilde</string>
    <string>uhorndotbelow</string>
  </array>
  <key>public.kern2.U_UC_RIGHT</key>
  <array>
    <string>U</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Utilde</string>
    <string>Udieresis</string>
    <string>Umacron</string>
    <string>Ubreve</string>
    <string>Uring</string>
    <string>Uhungarumlaut</string>
    <string>Ucaron</string>
    <string>Udieresismacron</string>
    <string>Udieresisacute</string>
    <string>Udieresiscaron</string>
    <string>Udieresisgrave</string>
    <string>Udotbelow</string>
    <string>Uogonek</string>
    <string>Uhorn</string>
    <string>Uhornacute</string>
    <string>Uhorngrave</string>
    <string>Uhorntilde</string>
    <string>Uhorndotbelow</string>
  </array>
  <key>public.kern2.V_LC</key>
  <array>
    <string>v</string>
  </array>
  <key>public.kern2.V_UC</key>
  <array>
    <string>V</string>
  </array>
  <key>public.kern2.W_LC</key>
  <array>
    <string>w</string>
    <string>wgrave</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
  </array>
  <key>public.kern2.W_UC</key>
  <array>
    <string>W</string>
    <string>Wgrave</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
  </array>
  <key>public.kern2.X_LC</key>
  <array>
    <string>x</string>
  </array>
  <key>public.kern2.X_UC</key>
  <array>
    <string>X</string>
  </array>
  <key>public.kern2.Y_LC</key>
  <array>
    <string>y</string>
    <string>ygrave</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>ydotaccent</string>
    <string>ydotbelow</string>
    <string>ytilde</string>
  </array>
  <key>public.kern2.Y_UC</key>
  <array>
    <string>Y</string>
    <string>Ygrave</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ydotaccent</string>
    <string>Ydotbelow</string>
    <string>Ytilde</string>
  </array>
  <key>public.kern2.ZERO</key>
  <array>
    <string>zero</string>
    <string>zero.0p</string>
    <string>zero.0ps</string>
  </array>
  <key>public.kern2.Z_LC</key>
  <array>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
    <string>zdotbelow</string>
  </array>
  <key>public.kern2.Z_UC</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>Zdotbelow</string>
  </array>
</dict>
</plist>
