<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.AALT_LC_LEFT</key>
  <dict>
    <key>public.kern2.QUOTERIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.T_UC</key>
    <integer>-30</integer>
    <key>public.kern2.V_UC</key>
    <integer>-10</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.A_LC_LEFT</key>
  <dict>
    <key>public.kern2.T_UC</key>
    <integer>-30</integer>
    <key>public.kern2.V_UC</key>
    <integer>-10</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.A_UC</key>
  <dict>
    <key>public.kern2.F_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.J_LC</key>
    <integer>-10</integer>
    <key>public.kern2.O_UC_RIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.QUOTE</key>
    <integer>-80</integer>
    <key>public.kern2.QUOTELEFT</key>
    <integer>-60</integer>
    <key>public.kern2.QUOTERIGHT</key>
    <integer>-70</integer>
    <key>public.kern2.S_UC</key>
    <integer>-10</integer>
    <key>public.kern2.T_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.T_UC</key>
    <integer>-100</integer>
    <key>public.kern2.U_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.U_UC_RIGHT</key>
    <integer>-30</integer>
    <key>public.kern2.V_LC</key>
    <integer>-10</integer>
    <key>public.kern2.V_UC</key>
    <integer>-20</integer>
    <key>public.kern2.W_LC</key>
    <integer>-6</integer>
    <key>public.kern2.W_UC</key>
    <integer>-10</integer>
    <key>public.kern2.X_UC</key>
    <integer>10</integer>
    <key>public.kern2.Y_LC</key>
    <integer>-10</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-34</integer>
    <key>public.kern2.Z_UC</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.B_UC_LEFT</key>
  <dict>
    <key>public.kern2.J_UC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.S_UC</key>
    <integer>-10</integer>
    <key>public.kern2.T_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.T_UC</key>
    <integer>-40</integer>
    <key>public.kern2.V_LC</key>
    <integer>-10</integer>
    <key>public.kern2.W_LC</key>
    <integer>-10</integer>
    <key>public.kern2.X_LC</key>
    <integer>-10</integer>
    <key>public.kern2.Y_LC</key>
    <integer>-10</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.COLON</key>
  <dict>
    <key>public.kern2.J_LC</key>
    <integer>10</integer>
    <key>public.kern2.QUOTELEFT</key>
    <integer>-20</integer>
    <key>public.kern2.QUOTERIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.T_UC</key>
    <integer>-100</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.C_LC_LEFT</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.A_LC_RIGHT</key>
    <integer>-15</integer>
    <key>public.kern2.DASH</key>
    <integer>-10</integer>
    <key>public.kern2.G_LC</key>
    <integer>-20</integer>
    <key>public.kern2.T_UC</key>
    <integer>-30</integer>
    <key>public.kern2.V_LC</key>
    <integer>10</integer>
    <key>public.kern2.V_UC</key>
    <integer>-10</integer>
    <key>public.kern2.W_LC</key>
    <integer>10</integer>
    <key>public.kern2.X_LC</key>
    <integer>10</integer>
    <key>public.kern2.Y_LC</key>
    <integer>10</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.C_UC_LEFT</key>
  <dict>
    <key>public.kern2.DASH</key>
    <integer>-20</integer>
    <key>public.kern2.GUILLEFT</key>
    <integer>-10</integer>
    <key>public.kern2.G_LC</key>
    <integer>-25</integer>
    <key>public.kern2.J_UC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.O_UC_RIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.S_UC</key>
    <integer>-20</integer>
    <key>public.kern2.T_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.T_UC</key>
    <integer>-20</integer>
    <key>public.kern2.U_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.U_UC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.V_LC</key>
    <integer>-10</integer>
    <key>public.kern2.W_LC</key>
    <integer>-10</integer>
    <key>public.kern2.Y_LC</key>
    <integer>-10</integer>
    <key>public.kern2.Z_UC</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.DASH</key>
  <dict>
    <key>public.kern2.V_UC</key>
    <integer>-20</integer>
    <key>public.kern2.X_LC</key>
    <integer>-10</integer>
    <key>public.kern2.X_UC</key>
    <integer>-20</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-60</integer>
    <key>public.kern2.Z_UC</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.E_LC_LEFT</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-15</integer>
    <key>public.kern2.DASH</key>
    <integer>20</integer>
    <key>public.kern2.GUILLEFT</key>
    <integer>-20</integer>
    <key>public.kern2.G_LC</key>
    <integer>-15</integer>
    <key>public.kern2.J_UC_RIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.O_UC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.QUOTERIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.S_UC</key>
    <integer>-20</integer>
    <key>public.kern2.T_LC_RIGHT</key>
    <integer>-15</integer>
    <key>public.kern2.T_UC</key>
    <integer>-20</integer>
    <key>public.kern2.V_LC</key>
    <integer>-10</integer>
    <key>public.kern2.V_UC</key>
    <integer>-10</integer>
    <key>public.kern2.W_LC</key>
    <integer>-10</integer>
    <key>public.kern2.W_UC</key>
    <integer>-10</integer>
    <key>public.kern2.Y_LC</key>
    <integer>-10</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.F_LC_LEFT</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.A_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.DASH</key>
    <integer>-10</integer>
    <key>public.kern2.G_LC</key>
    <integer>-10</integer>
    <key>public.kern2.N_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.PAREN_RIGHT</key>
    <integer>60</integer>
    <key>public.kern2.PUNCT</key>
    <integer>-40</integer>
    <key>public.kern2.QUOTE</key>
    <integer>40</integer>
    <key>public.kern2.QUOTELEFT</key>
    <integer>40</integer>
    <key>public.kern2.QUOTERIGHT</key>
    <integer>40</integer>
    <key>public.kern2.T_UC</key>
    <integer>50</integer>
    <key>public.kern2.V_UC</key>
    <integer>50</integer>
    <key>public.kern2.W_UC</key>
    <integer>50</integer>
    <key>public.kern2.X_UC</key>
    <integer>40</integer>
    <key>public.kern2.Y_UC</key>
    <integer>50</integer>
  </dict>
  <key>public.kern1.F_UC_LEFT</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-30</integer>
    <key>public.kern2.A_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.A_UC</key>
    <integer>-36</integer>
    <key>public.kern2.GUILLEFT</key>
    <integer>-20</integer>
    <key>public.kern2.G_LC</key>
    <integer>-30</integer>
    <key>public.kern2.J_UC_RIGHT</key>
    <integer>-140</integer>
    <key>public.kern2.N_LC_RIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.O_UC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.PUNCT</key>
    <integer>-60</integer>
    <key>public.kern2.S_LC</key>
    <integer>-15</integer>
    <key>public.kern2.S_UC</key>
    <integer>-16</integer>
    <key>public.kern2.T_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.U_LC_RIGHT</key>
    <integer>-15</integer>
    <key>public.kern2.V_LC</key>
    <integer>-10</integer>
    <key>public.kern2.V_UC</key>
    <integer>0</integer>
    <key>public.kern2.W_LC</key>
    <integer>-10</integer>
    <key>public.kern2.W_UC</key>
    <integer>0</integer>
    <key>public.kern2.X_LC</key>
    <integer>-20</integer>
    <key>public.kern2.Y_LC</key>
    <integer>-10</integer>
    <key>public.kern2.Y_UC</key>
    <integer>0</integer>
    <key>public.kern2.Z_LC</key>
    <integer>-20</integer>
    <key>public.kern2.Z_UC</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.GERMANDBLS_LC_LEFT</key>
  <dict>
    <key>public.kern2.QUOTE</key>
    <integer>-70</integer>
    <key>public.kern2.QUOTELEFT</key>
    <integer>-40</integer>
    <key>public.kern2.QUOTERIGHT</key>
    <integer>-100</integer>
    <key>public.kern2.T_LC_RIGHT</key>
    <integer>-15</integer>
    <key>public.kern2.V_LC</key>
    <integer>-20</integer>
    <key>public.kern2.W_LC</key>
    <integer>-10</integer>
    <key>public.kern2.X_LC</key>
    <integer>20</integer>
    <key>public.kern2.Y_LC</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.GUILLEFT</key>
  <dict>
    <key>public.kern2.T_UC</key>
    <integer>-100</integer>
    <key>public.kern2.V_UC</key>
    <integer>-20</integer>
    <key>public.kern2.W_UC</key>
    <integer>-10</integer>
    <key>public.kern2.X_LC</key>
    <integer>0</integer>
    <key>public.kern2.X_UC</key>
    <integer>0</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-40</integer>
    <key>public.kern2.Z_UC</key>
    <integer>0</integer>
  </dict>
  <key>public.kern1.GUILRIGHT</key>
  <dict>
    <key>public.kern2.J_UC_RIGHT</key>
    <integer>-30</integer>
    <key>public.kern2.S_UC</key>
    <integer>-30</integer>
    <key>public.kern2.T_UC</key>
    <integer>-100</integer>
    <key>public.kern2.V_UC</key>
    <integer>-40</integer>
    <key>public.kern2.W_UC</key>
    <integer>-10</integer>
    <key>public.kern2.X_LC</key>
    <integer>-10</integer>
    <key>public.kern2.X_UC</key>
    <integer>0</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-60</integer>
    <key>public.kern2.Z_UC</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.G_LC</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-15</integer>
    <key>public.kern2.A_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.J_LC</key>
    <integer>30</integer>
    <key>public.kern2.PAREN_RIGHT</key>
    <integer>20</integer>
    <key>public.kern2.T_UC</key>
    <integer>-20</integer>
    <key>public.kern2.V_LC</key>
    <integer>0</integer>
    <key>public.kern2.W_LC</key>
    <integer>5</integer>
    <key>public.kern2.Y_LC</key>
    <integer>20</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.G_UC_LEFT</key>
  <dict>
    <key>public.kern2.T_UC</key>
    <integer>-30</integer>
    <key>public.kern2.V_UC</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.H_LC_LEFT</key>
  <dict>
    <key>public.kern2.QUOTERIGHT</key>
    <integer>-60</integer>
    <key>public.kern2.T_UC</key>
    <integer>-20</integer>
    <key>public.kern2.V_UC</key>
    <integer>-10</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.J_UC_LEFT</key>
  <dict>
    <key>public.kern2.J_UC_RIGHT</key>
    <integer>-40</integer>
    <key>public.kern2.PUNCT</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.K_LC_LEFT</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.A_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.DASH</key>
    <integer>-20</integer>
    <key>public.kern2.GUILLEFT</key>
    <integer>-20</integer>
    <key>public.kern2.G_LC</key>
    <integer>-10</integer>
    <key>public.kern2.J_LC</key>
    <integer>-10</integer>
    <key>public.kern2.PUNCT</key>
    <integer>20</integer>
    <key>public.kern2.QUOTERIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.T_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.T_UC</key>
    <integer>-10</integer>
    <key>public.kern2.U_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.X_LC</key>
    <integer>10</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.K_UC_LEFT</key>
  <dict>
    <key>public.kern2.DASH</key>
    <integer>-20</integer>
    <key>public.kern2.GUILLEFT</key>
    <integer>-10</integer>
    <key>public.kern2.J_LC</key>
    <integer>-10</integer>
    <key>public.kern2.O_UC_RIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.QUOTE</key>
    <integer>-10</integer>
    <key>public.kern2.S_UC</key>
    <integer>-10</integer>
    <key>public.kern2.T_LC_RIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.T_UC</key>
    <integer>-10</integer>
    <key>public.kern2.U_LC_RIGHT</key>
    <integer>-15</integer>
    <key>public.kern2.U_UC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.V_UC</key>
    <integer>-10</integer>
    <key>public.kern2.W_UC</key>
    <integer>-10</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.LCARON_LC_LEFT</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.U_LC_RIGHT</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.LCARON_UC_LEFT</key>
  <dict>
    <key>public.kern2.QUOTE</key>
    <integer>-60</integer>
    <key>public.kern2.QUOTERIGHT</key>
    <integer>-60</integer>
    <key>public.kern2.T_UC</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.L_UC_LEFT</key>
  <dict>
    <key>public.kern2.A_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.A_UC</key>
    <integer>10</integer>
    <key>public.kern2.DASH</key>
    <integer>-80</integer>
    <key>public.kern2.F_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.GUILLEFT</key>
    <integer>-40</integer>
    <key>public.kern2.O_UC_RIGHT</key>
    <integer>-30</integer>
    <key>public.kern2.QUOTE</key>
    <integer>-120</integer>
    <key>public.kern2.QUOTELEFT</key>
    <integer>-80</integer>
    <key>public.kern2.QUOTERIGHT</key>
    <integer>-80</integer>
    <key>public.kern2.S_UC</key>
    <integer>-20</integer>
    <key>public.kern2.T_LC_RIGHT</key>
    <integer>-15</integer>
    <key>public.kern2.T_UC</key>
    <integer>-120</integer>
    <key>public.kern2.U_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.U_UC_RIGHT</key>
    <integer>-30</integer>
    <key>public.kern2.V_LC</key>
    <integer>-100</integer>
    <key>public.kern2.V_UC</key>
    <integer>-100</integer>
    <key>public.kern2.W_LC</key>
    <integer>-40</integer>
    <key>public.kern2.W_UC</key>
    <integer>-40</integer>
    <key>public.kern2.Y_LC</key>
    <integer>-40</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1.O_LC_LEFT</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-15</integer>
    <key>public.kern2.DASH</key>
    <integer>20</integer>
    <key>public.kern2.PAREN_RIGHT</key>
    <integer>0</integer>
    <key>public.kern2.PUNCT</key>
    <integer>-10</integer>
    <key>public.kern2.QUOTELEFT</key>
    <integer>-40</integer>
    <key>public.kern2.QUOTERIGHT</key>
    <integer>-60</integer>
    <key>public.kern2.T_UC</key>
    <integer>-60</integer>
    <key>public.kern2.V_LC</key>
    <integer>0</integer>
    <key>public.kern2.V_UC</key>
    <integer>-20</integer>
    <key>public.kern2.W_LC</key>
    <integer>0</integer>
    <key>public.kern2.X_LC</key>
    <integer>-10</integer>
    <key>public.kern2.Y_LC</key>
    <integer>0</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-40</integer>
    <key>public.kern2.Z_LC</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.O_UC_LEFT</key>
  <dict>
    <key>public.kern2.A_UC</key>
    <integer>0</integer>
    <key>public.kern2.J_UC_RIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.T_UC</key>
    <integer>-30</integer>
    <key>public.kern2.V_UC</key>
    <integer>-20</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-20</integer>
    <key>public.kern2.Z_UC</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.PAREN_LEFT</key>
  <dict>
    <key>public.kern2.J_LC</key>
    <integer>80</integer>
  </dict>
  <key>public.kern1.PUNCT</key>
  <dict>
    <key>public.kern2.A_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.J_LC</key>
    <integer>20</integer>
    <key>public.kern2.QUOTE</key>
    <integer>-100</integer>
    <key>public.kern2.QUOTELEFT</key>
    <integer>-80</integer>
    <key>public.kern2.QUOTERIGHT</key>
    <integer>-100</integer>
    <key>public.kern2.T_LC_RIGHT</key>
    <integer>-30</integer>
    <key>public.kern2.T_UC</key>
    <integer>-100</integer>
    <key>public.kern2.U_UC_RIGHT</key>
    <integer>-100</integer>
    <key>public.kern2.V_LC</key>
    <integer>-20</integer>
    <key>public.kern2.V_UC</key>
    <integer>-80</integer>
    <key>public.kern2.W_LC</key>
    <integer>-15</integer>
    <key>public.kern2.W_UC</key>
    <integer>-30</integer>
    <key>public.kern2.Y_LC</key>
    <integer>-20</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-80</integer>
  </dict>
  <key>public.kern1.P_UC_LEFT</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-30</integer>
    <key>public.kern2.A_LC_RIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.A_UC</key>
    <integer>-40</integer>
    <key>public.kern2.DASH</key>
    <integer>-10</integer>
    <key>public.kern2.GUILLEFT</key>
    <integer>-10</integer>
    <key>public.kern2.G_LC</key>
    <integer>-20</integer>
    <key>public.kern2.J_UC_RIGHT</key>
    <integer>-140</integer>
    <key>public.kern2.PUNCT</key>
    <integer>-100</integer>
    <key>public.kern2.S_UC</key>
    <integer>-10</integer>
    <key>public.kern2.T_UC</key>
    <integer>-30</integer>
    <key>public.kern2.X_LC</key>
    <integer>-10</integer>
    <key>public.kern2.X_UC</key>
    <integer>-20</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-10</integer>
    <key>public.kern2.Z_LC</key>
    <integer>-20</integer>
    <key>public.kern2.Z_UC</key>
    <integer>-100</integer>
  </dict>
  <key>public.kern1.QUOTE</key>
  <dict>
    <key>public.kern2.A_UC</key>
    <integer>-60</integer>
    <key>public.kern2.PUNCT</key>
    <integer>-80</integer>
    <key>public.kern2.S_LC</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.QUOTEBASE</key>
  <dict>
    <key>public.kern2.A_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.J_LC</key>
    <integer>20</integer>
    <key>public.kern2.T_LC_RIGHT</key>
    <integer>-30</integer>
    <key>public.kern2.T_UC</key>
    <integer>-100</integer>
    <key>public.kern2.U_UC_RIGHT</key>
    <integer>-100</integer>
    <key>public.kern2.V_LC</key>
    <integer>-20</integer>
    <key>public.kern2.V_UC</key>
    <integer>-80</integer>
    <key>public.kern2.W_LC</key>
    <integer>-15</integer>
    <key>public.kern2.W_UC</key>
    <integer>-30</integer>
    <key>public.kern2.Y_LC</key>
    <integer>-20</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-80</integer>
  </dict>
  <key>public.kern1.QUOTELEFT</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-40</integer>
    <key>public.kern2.A_LC_RIGHT</key>
    <integer>-40</integer>
    <key>public.kern2.A_UC</key>
    <integer>-60</integer>
    <key>public.kern2.G_LC</key>
    <integer>-60</integer>
    <key>public.kern2.PUNCT</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.QUOTERIGHT</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-40</integer>
    <key>public.kern2.A_LC_RIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.A_UC</key>
    <integer>-70</integer>
    <key>public.kern2.G_LC</key>
    <integer>-20</integer>
    <key>public.kern2.PUNCT</key>
    <integer>-140</integer>
    <key>public.kern2.S_LC</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.R_LC_LEFT</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-25</integer>
    <key>public.kern2.A_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.DASH</key>
    <integer>-20</integer>
    <key>public.kern2.GUILLEFT</key>
    <integer>-20</integer>
    <key>public.kern2.G_LC</key>
    <integer>-10</integer>
    <key>public.kern2.J_LC</key>
    <integer>-10</integer>
    <key>public.kern2.J_UC_RIGHT</key>
    <integer>-100</integer>
    <key>public.kern2.PUNCT</key>
    <integer>-40</integer>
    <key>public.kern2.QUOTELEFT</key>
    <integer>40</integer>
    <key>public.kern2.QUOTERIGHT</key>
    <integer>20</integer>
    <key>public.kern2.S_LC</key>
    <integer>-10</integer>
    <key>public.kern2.V_LC</key>
    <integer>10</integer>
    <key>public.kern2.W_LC</key>
    <integer>10</integer>
    <key>public.kern2.Y_LC</key>
    <integer>10</integer>
    <key>public.kern2.Z_LC</key>
    <integer>-10</integer>
    <key>public.kern2.Z_UC</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.R_UC_LEFT</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.A_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.A_UC</key>
    <integer>-10</integer>
    <key>public.kern2.DASH</key>
    <integer>-40</integer>
    <key>public.kern2.GUILLEFT</key>
    <integer>-20</integer>
    <key>public.kern2.G_LC</key>
    <integer>-10</integer>
    <key>public.kern2.J_UC_RIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.S_UC</key>
    <integer>-14</integer>
    <key>public.kern2.T_UC</key>
    <integer>-40</integer>
    <key>public.kern2.V_UC</key>
    <integer>-10</integer>
    <key>public.kern2.X_LC</key>
    <integer>-10</integer>
    <key>public.kern2.X_UC</key>
    <integer>-10</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-20</integer>
    <key>public.kern2.Z_LC</key>
    <integer>-10</integer>
    <key>public.kern2.Z_UC</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.S_LC</key>
  <dict>
    <key>public.kern2.DASH</key>
    <integer>10</integer>
    <key>public.kern2.T_UC</key>
    <integer>-30</integer>
    <key>public.kern2.V_LC</key>
    <integer>0</integer>
    <key>public.kern2.V_UC</key>
    <integer>-10</integer>
    <key>public.kern2.X_LC</key>
    <integer>0</integer>
    <key>public.kern2.Y_LC</key>
    <integer>0</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.S_UC</key>
  <dict>
    <key>public.kern2.J_UC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.S_UC</key>
    <integer>-10</integer>
    <key>public.kern2.T_UC</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.T_LC_LEFT</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.A_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.COLON</key>
    <integer>20</integer>
    <key>public.kern2.DASH</key>
    <integer>-20</integer>
    <key>public.kern2.GUILLEFT</key>
    <integer>-20</integer>
    <key>public.kern2.G_LC</key>
    <integer>-10</integer>
    <key>public.kern2.PUNCT</key>
    <integer>20</integer>
    <key>public.kern2.T_UC</key>
    <integer>-20</integer>
    <key>public.kern2.U_LC_RIGHT</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.T_UC</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-80</integer>
    <key>public.kern2.A_LC_RIGHT</key>
    <integer>-80</integer>
    <key>public.kern2.A_UC</key>
    <integer>-100</integer>
    <key>public.kern2.COLON</key>
    <integer>-100</integer>
    <key>public.kern2.DASH</key>
    <integer>-100</integer>
    <key>public.kern2.F_LC_RIGHT</key>
    <integer>-40</integer>
    <key>public.kern2.GUILLEFT</key>
    <integer>-60</integer>
    <key>public.kern2.GUILRIGHT</key>
    <integer>-60</integer>
    <key>public.kern2.G_LC</key>
    <integer>-80</integer>
    <key>public.kern2.J_UC_RIGHT</key>
    <integer>-130</integer>
    <key>public.kern2.N_LC_RIGHT</key>
    <integer>-80</integer>
    <key>public.kern2.O_UC_RIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.PUNCT</key>
    <integer>-100</integer>
    <key>public.kern2.S_LC</key>
    <integer>-60</integer>
    <key>public.kern2.S_UC</key>
    <integer>-100</integer>
    <key>public.kern2.T_LC_RIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.U_LC_RIGHT</key>
    <integer>-100</integer>
    <key>public.kern2.V_LC</key>
    <integer>-40</integer>
    <key>public.kern2.W_LC</key>
    <integer>-40</integer>
    <key>public.kern2.X_LC</key>
    <integer>-40</integer>
    <key>public.kern2.X_UC</key>
    <integer>-20</integer>
    <key>public.kern2.Y_LC</key>
    <integer>-40</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-10</integer>
    <key>public.kern2.Z_LC</key>
    <integer>-100</integer>
    <key>public.kern2.Z_UC</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.UHORN_LC_LEFT</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.F_LC_RIGHT</key>
    <integer>10</integer>
    <key>public.kern2.J_LC</key>
    <integer>10</integer>
    <key>public.kern2.PAREN_RIGHT</key>
    <integer>50</integer>
    <key>public.kern2.QUOTE</key>
    <integer>40</integer>
    <key>public.kern2.QUOTELEFT</key>
    <integer>40</integer>
    <key>public.kern2.QUOTERIGHT</key>
    <integer>20</integer>
    <key>public.kern2.T_LC_RIGHT</key>
    <integer>20</integer>
    <key>public.kern2.V_LC</key>
    <integer>20</integer>
    <key>public.kern2.W_LC</key>
    <integer>20</integer>
    <key>public.kern2.Y_LC</key>
    <integer>20</integer>
  </dict>
  <key>public.kern1.UHORN_UC_LEFT</key>
  <dict>
    <key>public.kern2.G_LC</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.U_UC_LEFT</key>
  <dict>
    <key>public.kern2.A_UC</key>
    <integer>-10</integer>
    <key>public.kern2.G_LC</key>
    <integer>-10</integer>
    <key>public.kern2.J_UC_RIGHT</key>
    <integer>-100</integer>
    <key>public.kern2.PUNCT</key>
    <integer>-10</integer>
    <key>public.kern2.S_UC</key>
    <integer>-10</integer>
    <key>public.kern2.V_UC</key>
    <integer>-10</integer>
    <key>public.kern2.X_UC</key>
    <integer>-10</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.V_LC</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.A_LC_RIGHT</key>
    <integer>0</integer>
    <key>public.kern2.A_UC</key>
    <integer>-10</integer>
    <key>public.kern2.J_LC</key>
    <integer>-10</integer>
    <key>public.kern2.J_UC_RIGHT</key>
    <integer>-30</integer>
    <key>public.kern2.PUNCT</key>
    <integer>-20</integer>
    <key>public.kern2.T_UC</key>
    <integer>-40</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-20</integer>
    <key>public.kern2.Z_LC</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.V_UC</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-30</integer>
    <key>public.kern2.A_LC_RIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.A_UC</key>
    <integer>-20</integer>
    <key>public.kern2.DASH</key>
    <integer>-20</integer>
    <key>public.kern2.F_LC_RIGHT</key>
    <integer>10</integer>
    <key>public.kern2.GUILLEFT</key>
    <integer>-40</integer>
    <key>public.kern2.GUILRIGHT</key>
    <integer>-40</integer>
    <key>public.kern2.G_LC</key>
    <integer>-20</integer>
    <key>public.kern2.J_UC_RIGHT</key>
    <integer>-80</integer>
    <key>public.kern2.N_LC_RIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.O_UC_RIGHT</key>
    <integer>0</integer>
    <key>public.kern2.PUNCT</key>
    <integer>-60</integer>
    <key>public.kern2.S_LC</key>
    <integer>-20</integer>
    <key>public.kern2.S_UC</key>
    <integer>-20</integer>
    <key>public.kern2.U_LC_RIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.U_UC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.X_LC</key>
    <integer>-20</integer>
    <key>public.kern2.Z_LC</key>
    <integer>-30</integer>
    <key>public.kern2.Z_UC</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.W_LC</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.A_LC_RIGHT</key>
    <integer>0</integer>
    <key>public.kern2.A_UC</key>
    <integer>-6</integer>
    <key>public.kern2.J_LC</key>
    <integer>-10</integer>
    <key>public.kern2.J_UC_RIGHT</key>
    <integer>-30</integer>
    <key>public.kern2.PUNCT</key>
    <integer>-15</integer>
    <key>public.kern2.T_UC</key>
    <integer>-40</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-20</integer>
    <key>public.kern2.Z_LC</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.W_UC</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.A_LC_RIGHT</key>
    <integer>0</integer>
    <key>public.kern2.A_UC</key>
    <integer>-10</integer>
    <key>public.kern2.F_LC_RIGHT</key>
    <integer>10</integer>
    <key>public.kern2.GUILLEFT</key>
    <integer>-10</integer>
    <key>public.kern2.GUILRIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.G_LC</key>
    <integer>-10</integer>
    <key>public.kern2.J_UC_RIGHT</key>
    <integer>-100</integer>
    <key>public.kern2.PUNCT</key>
    <integer>-30</integer>
    <key>public.kern2.S_UC</key>
    <integer>-10</integer>
    <key>public.kern2.T_LC_RIGHT</key>
    <integer>0</integer>
    <key>public.kern2.Z_LC</key>
    <integer>-10</integer>
    <key>public.kern2.Z_UC</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.X_LC</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.A_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.DASH</key>
    <integer>-10</integer>
    <key>public.kern2.GUILLEFT</key>
    <integer>-10</integer>
    <key>public.kern2.GUILRIGHT</key>
    <integer>0</integer>
    <key>public.kern2.T_UC</key>
    <integer>-40</integer>
    <key>public.kern2.V_UC</key>
    <integer>-10</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.X_UC</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.A_UC</key>
    <integer>10</integer>
    <key>public.kern2.DASH</key>
    <integer>-20</integer>
    <key>public.kern2.GUILLEFT</key>
    <integer>-40</integer>
    <key>public.kern2.GUILRIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.T_UC</key>
    <integer>-10</integer>
    <key>public.kern2.U_LC_RIGHT</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.Y_LC</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.A_LC_RIGHT</key>
    <integer>0</integer>
    <key>public.kern2.J_LC</key>
    <integer>-10</integer>
    <key>public.kern2.J_UC_RIGHT</key>
    <integer>-30</integer>
    <key>public.kern2.PUNCT</key>
    <integer>-20</integer>
    <key>public.kern2.T_UC</key>
    <integer>-40</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-20</integer>
    <key>public.kern2.Z_LC</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.Y_UC</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-40</integer>
    <key>public.kern2.A_LC_RIGHT</key>
    <integer>-30</integer>
    <key>public.kern2.A_UC</key>
    <integer>-34</integer>
    <key>public.kern2.COLON</key>
    <integer>-10</integer>
    <key>public.kern2.DASH</key>
    <integer>-60</integer>
    <key>public.kern2.GUILLEFT</key>
    <integer>-70</integer>
    <key>public.kern2.GUILRIGHT</key>
    <integer>-30</integer>
    <key>public.kern2.G_LC</key>
    <integer>-60</integer>
    <key>public.kern2.J_UC_RIGHT</key>
    <integer>-90</integer>
    <key>public.kern2.N_LC_RIGHT</key>
    <integer>-30</integer>
    <key>public.kern2.O_UC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.PUNCT</key>
    <integer>-80</integer>
    <key>public.kern2.S_LC</key>
    <integer>-40</integer>
    <key>public.kern2.S_UC</key>
    <integer>-10</integer>
    <key>public.kern2.T_UC</key>
    <integer>-10</integer>
    <key>public.kern2.U_LC_RIGHT</key>
    <integer>-30</integer>
    <key>public.kern2.V_LC</key>
    <integer>-20</integer>
    <key>public.kern2.W_LC</key>
    <integer>-20</integer>
    <key>public.kern2.X_LC</key>
    <integer>-30</integer>
    <key>public.kern2.Y_LC</key>
    <integer>-20</integer>
    <key>public.kern2.Z_LC</key>
    <integer>-60</integer>
    <key>public.kern2.Z_UC</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.Z_LC</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-25</integer>
    <key>public.kern2.A_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.DASH</key>
    <integer>-10</integer>
    <key>public.kern2.G_LC</key>
    <integer>-10</integer>
    <key>public.kern2.T_UC</key>
    <integer>-30</integer>
    <key>public.kern2.U_LC_RIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.V_UC</key>
    <integer>-10</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.Z_UC</key>
  <dict>
    <key>public.kern2.AALT_LC_RIGHT</key>
    <integer>-15</integer>
    <key>public.kern2.A_LC_RIGHT</key>
    <integer>-25</integer>
    <key>public.kern2.A_UC</key>
    <integer>-20</integer>
    <key>public.kern2.DASH</key>
    <integer>-40</integer>
    <key>public.kern2.GUILLEFT</key>
    <integer>-40</integer>
    <key>public.kern2.G_LC</key>
    <integer>-15</integer>
    <key>public.kern2.J_UC_RIGHT</key>
    <integer>-30</integer>
    <key>public.kern2.O_UC_RIGHT</key>
    <integer>-20</integer>
    <key>public.kern2.S_UC</key>
    <integer>-30</integer>
    <key>public.kern2.T_LC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.U_LC_RIGHT</key>
    <integer>-35</integer>
    <key>public.kern2.U_UC_RIGHT</key>
    <integer>-10</integer>
    <key>public.kern2.V_LC</key>
    <integer>-20</integer>
    <key>public.kern2.V_UC</key>
    <integer>-10</integer>
    <key>public.kern2.W_LC</key>
    <integer>-20</integer>
    <key>public.kern2.W_UC</key>
    <integer>-10</integer>
    <key>public.kern2.Y_LC</key>
    <integer>-20</integer>
    <key>public.kern2.Y_UC</key>
    <integer>-10</integer>
    <key>public.kern2.Z_UC</key>
    <integer>-10</integer>
  </dict>
</dict>
</plist>
