<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>u16F12</key>
  <string>u16F_12.glif</string>
  <key>u16F14</key>
  <string>u16F_14.glif</string>
  <key>u16F18</key>
  <string>u16F_18.glif</string>
  <key>u16F2C</key>
  <string>u16F_2C_.glif</string>
  <key>u16F34</key>
  <string>u16F_34.glif</string>
  <key>u16F3B</key>
  <string>u16F_3B_.glif</string>
  <key>u16F61</key>
  <string>u16F_61.glif</string>
  <key>u16F63</key>
  <string>u16F_63.glif</string>
  <key>u16F64</key>
  <string>u16F_64.glif</string>
  <key>u16F68</key>
  <string>u16F_68.glif</string>
  <key>u16F6C</key>
  <string>u16F_6C_.glif</string>
  <key>wart</key>
  <string>wart.glif</string>
</dict>
</plist>
