<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.schriftgestaltung.Glyphs.fontUserData</key>
  <dict/>
  <key>com.schriftgestaltung.appVersion</key>
  <string>1192</string>
  <key>com.schriftgestaltung.customName</key>
  <string>Black</string>
  <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
  <integer>1000</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
  <integer>100</integer>
  <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.fontMasterOrder</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.keyboardIncrement</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.weight</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>1000</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>public.glyphOrder</key>
  <array>
    <string>u16F08</string>
    <string>u16F0A</string>
    <string>u16F16</string>
    <string>u16F28</string>
    <string>u16F35</string>
    <string>u16F3A</string>
    <string>u16F40</string>
    <string>u16F42</string>
    <string>u16F43</string>
    <string>u16F00</string>
    <string>u16F04</string>
    <string>u16F10</string>
    <string>u16F1A</string>
    <string>u16F1E</string>
    <string>u16F2A</string>
    <string>u16F3D</string>
    <string>u16F02</string>
    <string>u16F07</string>
    <string>u16F0C</string>
    <string>u16F0D</string>
    <string>u16F0E</string>
    <string>u16F20</string>
    <string>u16F21</string>
    <string>u16F26</string>
    <string>u16F31</string>
    <string>u16F32</string>
    <string>u16F37</string>
    <string>u16F39</string>
    <string>u16F48</string>
    <string>u16F49</string>
    <string>u16F4A</string>
    <string>u16F2E</string>
    <string>u16F30</string>
    <string>u16F12</string>
    <string>u16F33</string>
    <string>u16F3B</string>
    <string>u16F50</string>
    <string>u16F2C</string>
    <string>u16F1C</string>
    <string>u16F34</string>
    <string>u16F55</string>
    <string>u16F59</string>
    <string>u16F5D</string>
    <string>u16F61</string>
    <string>u16F62</string>
    <string>u16F6A</string>
    <string>u16F6B</string>
    <string>u16F71</string>
    <string>u16F75</string>
    <string>u16F77</string>
    <string>u16F79</string>
    <string>u16F57</string>
    <string>u16F58</string>
    <string>u16F5C</string>
    <string>u16F5E</string>
    <string>u16F60</string>
    <string>u16F63</string>
    <string>u16F64</string>
    <string>u16F66</string>
    <string>u16F68</string>
    <string>u16F69</string>
    <string>u16F73</string>
    <string>u16F74</string>
    <string>u16F7B</string>
    <string>u16F4F</string>
    <string>u16F8F</string>
    <string>u16F90</string>
    <string>u16F91</string>
    <string>u16F92</string>
    <string>u16F03</string>
    <string>u16F14</string>
    <string>u16F18</string>
    <string>u16F23</string>
    <string>wart</string>
    <string>u16F01</string>
    <string>u16F05</string>
    <string>u16F09</string>
    <string>u16F0B</string>
    <string>u16F0F</string>
    <string>u16F11</string>
    <string>u16F15</string>
    <string>u16F17</string>
    <string>u16F19</string>
    <string>u16F1B</string>
    <string>u16F1D</string>
    <string>u16F1F</string>
    <string>u16F22</string>
    <string>u16F24</string>
    <string>u16F29</string>
    <string>u16F2B</string>
    <string>u16F2D</string>
    <string>u16F2F</string>
    <string>u16F36</string>
    <string>u16F38</string>
    <string>u16F3C</string>
    <string>u16F3E</string>
    <string>u16F41</string>
    <string>u16F44</string>
    <string>u16F45</string>
    <string>u16F46</string>
    <string>u16F47</string>
    <string>u16F54</string>
    <string>u16F56</string>
    <string>u16F5A</string>
    <string>u16F5B</string>
    <string>u16F5F</string>
    <string>u16F65</string>
    <string>u16F67</string>
    <string>u16F6C</string>
    <string>u16F6D</string>
    <string>u16F6E</string>
    <string>u16F6F</string>
    <string>u16F70</string>
    <string>u16F72</string>
    <string>u16F76</string>
    <string>u16F78</string>
    <string>u16F7A</string>
    <string>u16F7C</string>
    <string>u16F7D</string>
    <string>u16F7E</string>
    <string>u16F7F</string>
    <string>u16F80</string>
    <string>u16F81</string>
    <string>u16F82</string>
    <string>u16F83</string>
    <string>u16F84</string>
    <string>u16F85</string>
    <string>u16F86</string>
    <string>u16F87</string>
    <string>u16F55.mark</string>
    <string>u16F59.mark</string>
    <string>u16F5D.mark</string>
    <string>u16F61.mark</string>
    <string>u16F62.mark</string>
    <string>u16F6A.mark</string>
    <string>u16F6B.mark</string>
    <string>u16F71.mark</string>
    <string>u16F75.mark</string>
    <string>u16F77.mark</string>
    <string>u16F79.mark</string>
    <string>u16F57.mark</string>
    <string>u16F58.mark</string>
    <string>u16F5C.mark</string>
    <string>u16F5E.mark</string>
    <string>u16F60.mark</string>
    <string>u16F63.mark</string>
    <string>u16F64.mark</string>
    <string>u16F66.mark</string>
    <string>u16F68.mark</string>
    <string>u16F69.mark</string>
    <string>u16F73.mark</string>
    <string>u16F74.mark</string>
    <string>u16F7B.mark</string>
    <string>u16F54.mark</string>
    <string>u16F56.mark</string>
    <string>u16F5A.mark</string>
    <string>u16F5B.mark</string>
    <string>u16F5F.mark</string>
    <string>u16F65.mark</string>
    <string>u16F67.mark</string>
    <string>u16F6C.mark</string>
    <string>u16F6D.mark</string>
    <string>u16F6E.mark</string>
    <string>u16F6F.mark</string>
    <string>u16F70.mark</string>
    <string>u16F72.mark</string>
    <string>u16F76.mark</string>
    <string>u16F78.mark</string>
    <string>u16F7A.mark</string>
    <string>u16F7C.mark</string>
    <string>u16F7D.mark</string>
    <string>u16F7E.mark</string>
    <string>u16F7F.mark</string>
    <string>u16F80.mark</string>
    <string>u16F81.mark</string>
    <string>u16F82.mark</string>
    <string>u16F83.mark</string>
    <string>u16F84.mark</string>
    <string>u16F85.mark</string>
    <string>u16F86.mark</string>
    <string>u16F87.mark</string>
    <string>u16F51</string>
    <string>u16F51.mark</string>
    <string>u16F52</string>
    <string>u16F52.mark</string>
    <string>u16F53</string>
    <string>u16F53.mark</string>
    <string>u16F0E_u16F4F</string>
    <string>u16F10_u16F4F</string>
    <string>dot</string>
    <string>u16F01.dot</string>
    <string>u16F05.dot</string>
    <string>u16F09.dot</string>
    <string>u16F0B.dot</string>
    <string>u16F0F.dot</string>
    <string>u16F11.dot</string>
    <string>u16F15.dot</string>
    <string>u16F17.dot</string>
    <string>u16F19.dot</string>
    <string>u16F1B.dot</string>
    <string>u16F1D.dot</string>
    <string>u16F1F.dot</string>
    <string>u16F22.dot</string>
    <string>u16F24.dot</string>
    <string>u16F29.dot</string>
    <string>u16F2B.dot</string>
    <string>u16F2D.dot</string>
    <string>u16F2F.dot</string>
    <string>u16F36.dot</string>
    <string>u16F38.dot</string>
    <string>u16F3C.dot</string>
    <string>u16F3E.dot</string>
    <string>u16F41.dot</string>
    <string>u16F44.dot</string>
    <string>u16F45.dot</string>
    <string>u16F46.dot</string>
    <string>u16F47.dot</string>
    <string>u16F02.ygp</string>
    <string>u16F14.ygp</string>
    <string>u16F23.ygp</string>
    <string>u16F04.narrow</string>
    <string>u16F10.narrow</string>
    <string>u16F7A.point</string>
    <string>u16F7A.mark.point</string>
    <string>u16F04_u16F51</string>
    <string>u16F10_u16F51</string>
    <string>u16F23_u16F51</string>
    <string>u16F57.open</string>
    <string>u16F57.mark.open</string>
    <string>u16F14.flat</string>
    <string>u16F23.flat</string>
    <string>u16F35.ywqa</string>
    <string>u16F04.lpo</string>
    <string>u16F10.lpo</string>
    <string>u16F58.lpo</string>
    <string>u16F58.mark.lpo</string>
    <string>uni3001.lpo</string>
    <string>u16F33.lpo</string>
    <string>u16F04.hmdd</string>
    <string>u16F10.hmdd</string>
    <string>u16F14.hmdd</string>
    <string>u16F23.hmdd</string>
    <string>u16F05.hmdd</string>
    <string>u16F11.hmdd</string>
    <string>u16F15.hmdd</string>
    <string>u16F24.hmdd</string>
    <string>u16F5E.hmdd</string>
    <string>u16F5E.mark.hmdd</string>
    <string>u16F5F.mark.hmdd</string>
    <string>u16F5F.hmdd</string>
    <string>u16F93</string>
    <string>u16F94</string>
    <string>u16F95</string>
    <string>u16F96</string>
    <string>u16F97</string>
    <string>u16F98</string>
    <string>u16F99</string>
    <string>uni2010</string>
    <string>uni2011</string>
    <string>uni2027</string>
    <string>uni2060</string>
    <string>uni3000</string>
    <string>uni3001</string>
    <string>uni3002</string>
    <string>uni3007</string>
    <string>uni3008</string>
    <string>uni3009</string>
    <string>uni300A</string>
    <string>uni300B</string>
    <string>uni300C</string>
    <string>uni300D</string>
    <string>uni300E</string>
    <string>uni300F</string>
    <string>uni3010</string>
    <string>uni3011</string>
    <string>uni301D</string>
    <string>uni301E</string>
    <string>uni301F</string>
    <string>exclam.full</string>
    <string>parenleft.full</string>
    <string>parenright.full</string>
    <string>comma.full</string>
    <string>period.full</string>
    <string>colon.full</string>
    <string>semicolon.full</string>
    <string>question.full</string>
    <string>uni2000</string>
    <string>uni2001</string>
    <string>uni2002</string>
    <string>uni2003</string>
    <string>uni2004</string>
    <string>uni2005</string>
    <string>uni2006</string>
    <string>uni2008</string>
    <string>uni2009</string>
    <string>uni200A</string>
    <string>uni200B</string>
    <string>uni200C</string>
    <string>uni200D</string>
    <string>uni200E</string>
    <string>uni200F</string>
    <string>uni2028</string>
    <string>uni2029</string>
    <string>uni202A</string>
    <string>uni202B</string>
    <string>uni202C</string>
    <string>uni202D</string>
    <string>uni202E</string>
    <string>uniFE00</string>
    <string>uniFE01</string>
    <string>uniFE02</string>
    <string>uniFE03</string>
    <string>uniFE04</string>
    <string>uniFE05</string>
    <string>uniFE06</string>
    <string>uniFE07</string>
    <string>uniFE08</string>
    <string>uniFE09</string>
    <string>uniFE0A</string>
    <string>uniFE0B</string>
    <string>uniFE0C</string>
    <string>uniFE0D</string>
    <string>uniFE0F</string>
    <string>uniFFFC</string>
    <string>uniFFFD</string>
    <string>u16F06</string>
    <string>u16F13</string>
    <string>u16F25</string>
    <string>u16F27</string>
    <string>u16F3F</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>nbspace</string>
    <string>exclamdown</string>
    <string>cent</string>
    <string>sterling</string>
    <string>currency</string>
    <string>yen</string>
    <string>brokenbar</string>
    <string>section</string>
    <string>dieresis</string>
    <string>copyright</string>
    <string>ordfeminine</string>
    <string>guillemotleft</string>
    <string>logicalnot</string>
    <string>sfthyphen</string>
    <string>registered</string>
    <string>macron</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>two.sups</string>
    <string>three.sups</string>
    <string>acute</string>
    <string>mu.math</string>
    <string>paragraph</string>
    <string>periodcentered</string>
    <string>cedilla</string>
    <string>one.sups</string>
    <string>ordmasculine</string>
    <string>guillemotright</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>questiondown</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>multiply</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>germandbls</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>eth</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>divide</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>thorn</string>
    <string>ydieresis</string>
    <string>Amacron</string>
    <string>amacron</string>
    <string>Abreve</string>
    <string>abreve</string>
    <string>Aogonek</string>
    <string>aogonek</string>
    <string>Cacute</string>
    <string>cacute</string>
    <string>Ccircumflex</string>
    <string>ccircumflex</string>
    <string>Cdotaccent</string>
    <string>cdotaccent</string>
    <string>Ccaron</string>
    <string>ccaron</string>
    <string>Dcaron</string>
    <string>dcaron</string>
    <string>Dcroat</string>
    <string>dcroat</string>
    <string>Emacron</string>
    <string>emacron</string>
    <string>Ebreve</string>
    <string>ebreve</string>
    <string>Edotaccent</string>
    <string>edotaccent</string>
    <string>Eogonek</string>
    <string>eogonek</string>
    <string>Ecaron</string>
    <string>ecaron</string>
    <string>Gcircumflex</string>
    <string>gcircumflex</string>
    <string>Gbreve</string>
    <string>gbreve</string>
    <string>Gdotaccent</string>
    <string>gdotaccent</string>
    <string>Gcommaaccent</string>
    <string>gcommaaccent</string>
    <string>Hcircumflex</string>
    <string>hcircumflex</string>
    <string>Hbar</string>
    <string>hbar</string>
    <string>Itilde</string>
    <string>itilde</string>
    <string>Imacron</string>
    <string>imacron</string>
    <string>Ibreve</string>
    <string>ibreve</string>
    <string>Iogonek</string>
    <string>iogonek</string>
    <string>Idotaccent</string>
    <string>dotlessi</string>
    <string>Jcircumflex</string>
    <string>jcircumflex</string>
    <string>Kcommaaccent</string>
    <string>kcommaaccent</string>
    <string>kgreenlandic</string>
    <string>Lacute</string>
    <string>lacute</string>
    <string>Lcommaaccent</string>
    <string>lcommaaccent</string>
    <string>Lcaron</string>
    <string>lcaron</string>
    <string>Ldot</string>
    <string>ldot</string>
    <string>Lslash</string>
    <string>lslash</string>
    <string>Nacute</string>
    <string>nacute</string>
    <string>Ncommaaccent</string>
    <string>ncommaaccent</string>
    <string>Ncaron</string>
    <string>ncaron</string>
    <string>napostrophe</string>
    <string>Omacron</string>
    <string>omacron</string>
    <string>Obreve</string>
    <string>obreve</string>
    <string>Ohungarumlaut</string>
    <string>ohungarumlaut</string>
    <string>OE</string>
    <string>oe</string>
    <string>Racute</string>
    <string>racute</string>
    <string>Rcommaaccent</string>
    <string>rcommaaccent</string>
    <string>Rcaron</string>
    <string>rcaron</string>
    <string>Sacute</string>
    <string>sacute</string>
    <string>Scircumflex</string>
    <string>scircumflex</string>
    <string>Scedilla</string>
    <string>scedilla</string>
    <string>Scaron</string>
    <string>scaron</string>
    <string>Tcedilla</string>
    <string>tcedilla</string>
    <string>Tcaron</string>
    <string>tcaron</string>
    <string>Utilde</string>
    <string>utilde</string>
    <string>Umacron</string>
    <string>umacron</string>
    <string>Ubreve</string>
    <string>ubreve</string>
    <string>Uring</string>
    <string>uring</string>
    <string>Uhungarumlaut</string>
    <string>uhungarumlaut</string>
    <string>Uogonek</string>
    <string>uogonek</string>
    <string>Wcircumflex</string>
    <string>wcircumflex</string>
    <string>Ycircumflex</string>
    <string>ycircumflex</string>
    <string>Ydieresis</string>
    <string>Zacute</string>
    <string>zacute</string>
    <string>Zdotaccent</string>
    <string>zdotaccent</string>
    <string>Zcaron</string>
    <string>zcaron</string>
    <string>bstroke</string>
    <string>Schwa</string>
    <string>florin</string>
    <string>Ohorn</string>
    <string>ohorn</string>
    <string>Uhorn</string>
    <string>uhorn</string>
    <string>Acaron</string>
    <string>acaron</string>
    <string>Icaron</string>
    <string>icaron</string>
    <string>Ocaron</string>
    <string>ocaron</string>
    <string>Ucaron</string>
    <string>ucaron</string>
    <string>Udieresismacron</string>
    <string>udieresismacron</string>
    <string>Udieresisacute</string>
    <string>udieresisacute</string>
    <string>Udieresiscaron</string>
    <string>udieresiscaron</string>
    <string>Udieresisgrave</string>
    <string>udieresisgrave</string>
    <string>Gcaron</string>
    <string>gcaron</string>
    <string>Oogonek</string>
    <string>oogonek</string>
    <string>Scommaaccent</string>
    <string>scommaaccent</string>
    <string>Tcommaaccent</string>
    <string>tcommaaccent</string>
    <string>dotlessj</string>
    <string>Bstroke</string>
    <string>alphalatin</string>
    <string>schwa</string>
    <string>gscript</string>
    <string>h.sups</string>
    <string>j.sups</string>
    <string>r.sups</string>
    <string>w.sups</string>
    <string>y.sups</string>
    <string>primemod</string>
    <string>commaturnedmod</string>
    <string>apostrophemod</string>
    <string>circumflex</string>
    <string>caron</string>
    <string>verticallinemod</string>
    <string>macronmod</string>
    <string>acutemod</string>
    <string>gravemod</string>
    <string>colontriangularmod</string>
    <string>colontriangularhalfmod</string>
    <string>breve</string>
    <string>dotaccent</string>
    <string>ring</string>
    <string>ogonek</string>
    <string>tilde</string>
    <string>hungarumlaut</string>
    <string>l.sups</string>
    <string>s.sups</string>
    <string>x.sups</string>
    <string>gravecmb</string>
    <string>acutecmb</string>
    <string>circumflexcmb</string>
    <string>tildecmb</string>
    <string>macroncmb</string>
    <string>brevecmb</string>
    <string>dotaccentcmb</string>
    <string>dieresiscmb</string>
    <string>hoicmb</string>
    <string>ringcmb</string>
    <string>hungarumlautcmb</string>
    <string>caroncmb</string>
    <string>dblgravecmb</string>
    <string>commaturnedabovecmb</string>
    <string>commaabovecmb</string>
    <string>horncmb</string>
    <string>dotbelowcmb</string>
    <string>dieresisbelowcmb</string>
    <string>commabelowcmb</string>
    <string>cedillacmb</string>
    <string>ogonekcmb</string>
    <string>brevebelowcmb</string>
    <string>macronbelowcmb</string>
    <string>pi</string>
    <string>a.sups</string>
    <string>b.sups</string>
    <string>d.sups</string>
    <string>e.sups</string>
    <string>g.sups</string>
    <string>k.sups</string>
    <string>m.sups</string>
    <string>o.sups</string>
    <string>p.sups</string>
    <string>t.sups</string>
    <string>u.sups</string>
    <string>v.sups</string>
    <string>c.sups</string>
    <string>f.sups</string>
    <string>z.sups</string>
    <string>Blinebelow</string>
    <string>blinebelow</string>
    <string>Ddotbelow</string>
    <string>ddotbelow</string>
    <string>Dlinebelow</string>
    <string>dlinebelow</string>
    <string>Emacronacute</string>
    <string>emacronacute</string>
    <string>Gmacron</string>
    <string>gmacron</string>
    <string>Hdotbelow</string>
    <string>hdotbelow</string>
    <string>Hbrevebelow</string>
    <string>hbrevebelow</string>
    <string>Klinebelow</string>
    <string>klinebelow</string>
    <string>Ldotbelow</string>
    <string>ldotbelow</string>
    <string>Ldotbelowmacron</string>
    <string>ldotbelowmacron</string>
    <string>Llinebelow</string>
    <string>llinebelow</string>
    <string>Mdotbelow</string>
    <string>mdotbelow</string>
    <string>Ndotaccent</string>
    <string>ndotaccent</string>
    <string>Ndotbelow</string>
    <string>ndotbelow</string>
    <string>Nlinebelow</string>
    <string>nlinebelow</string>
    <string>Omacronacute</string>
    <string>omacronacute</string>
    <string>Rdotbelow</string>
    <string>rdotbelow</string>
    <string>Rdotbelowmacron</string>
    <string>rdotbelowmacron</string>
    <string>Rlinebelow</string>
    <string>rlinebelow</string>
    <string>Sdotaccent</string>
    <string>sdotaccent</string>
    <string>Sdotbelow</string>
    <string>sdotbelow</string>
    <string>Tdotbelow</string>
    <string>tdotbelow</string>
    <string>Tlinebelow</string>
    <string>tlinebelow</string>
    <string>Wgrave</string>
    <string>wgrave</string>
    <string>Wacute</string>
    <string>wacute</string>
    <string>Wdieresis</string>
    <string>wdieresis</string>
    <string>Ydotaccent</string>
    <string>ydotaccent</string>
    <string>Zdotbelow</string>
    <string>zdotbelow</string>
    <string>tdieresis</string>
    <string>Germandbls</string>
    <string>Adotbelow</string>
    <string>adotbelow</string>
    <string>Ahoi</string>
    <string>ahoi</string>
    <string>Acircumflexacute</string>
    <string>acircumflexacute</string>
    <string>Acircumflexgrave</string>
    <string>acircumflexgrave</string>
    <string>Acircumflexhoi</string>
    <string>acircumflexhoi</string>
    <string>Acircumflextilde</string>
    <string>acircumflextilde</string>
    <string>Acircumflexdotbelow</string>
    <string>acircumflexdotbelow</string>
    <string>Abreveacute</string>
    <string>abreveacute</string>
    <string>Abrevegrave</string>
    <string>abrevegrave</string>
    <string>Abrevehoi</string>
    <string>abrevehoi</string>
    <string>Abrevetilde</string>
    <string>abrevetilde</string>
    <string>Abrevedotbelow</string>
    <string>abrevedotbelow</string>
    <string>Edotbelow</string>
    <string>edotbelow</string>
    <string>Ehoi</string>
    <string>ehoi</string>
    <string>Etilde</string>
    <string>etilde</string>
    <string>Ecircumflexacute</string>
    <string>ecircumflexacute</string>
    <string>Ecircumflexgrave</string>
    <string>ecircumflexgrave</string>
    <string>Ecircumflexhoi</string>
    <string>ecircumflexhoi</string>
    <string>Ecircumflextilde</string>
    <string>ecircumflextilde</string>
    <string>Ecircumflexdotbelow</string>
    <string>ecircumflexdotbelow</string>
    <string>Ihoi</string>
    <string>ihoi</string>
    <string>Idotbelow</string>
    <string>idotbelow</string>
    <string>Odotbelow</string>
    <string>odotbelow</string>
    <string>Ohoi</string>
    <string>ohoi</string>
    <string>Ocircumflexacute</string>
    <string>ocircumflexacute</string>
    <string>Ocircumflexgrave</string>
    <string>ocircumflexgrave</string>
    <string>Ocircumflexhoi</string>
    <string>ocircumflexhoi</string>
    <string>Ocircumflextilde</string>
    <string>ocircumflextilde</string>
    <string>Ocircumflexdotbelow</string>
    <string>ocircumflexdotbelow</string>
    <string>Ohornacute</string>
    <string>ohornacute</string>
    <string>Ohorngrave</string>
    <string>ohorngrave</string>
    <string>Ohornhoi</string>
    <string>ohornhoi</string>
    <string>Ohorntilde</string>
    <string>ohorntilde</string>
    <string>Ohorndotbelow</string>
    <string>ohorndotbelow</string>
    <string>Udotbelow</string>
    <string>udotbelow</string>
    <string>Uhoi</string>
    <string>uhoi</string>
    <string>Uhornacute</string>
    <string>uhornacute</string>
    <string>Uhorngrave</string>
    <string>uhorngrave</string>
    <string>Uhornhoi</string>
    <string>uhornhoi</string>
    <string>Uhorntilde</string>
    <string>uhorntilde</string>
    <string>Uhorndotbelow</string>
    <string>uhorndotbelow</string>
    <string>Ygrave</string>
    <string>ygrave</string>
    <string>Ydotbelow</string>
    <string>ydotbelow</string>
    <string>Yhoi</string>
    <string>yhoi</string>
    <string>Ytilde</string>
    <string>ytilde</string>
    <string>figurespace</string>
    <string>figuredash</string>
    <string>endash</string>
    <string>emdash</string>
    <string>horizontalbar</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotedblbase</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>bullet</string>
    <string>ellipsis</string>
    <string>NNBS</string>
    <string>perthousand</string>
    <string>prime</string>
    <string>dblprime</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>fraction</string>
    <string>zero.sups</string>
    <string>i.sups</string>
    <string>four.sups</string>
    <string>five.sups</string>
    <string>six.sups</string>
    <string>seven.sups</string>
    <string>eight.sups</string>
    <string>nine.sups</string>
    <string>parenleft.sups</string>
    <string>parenright.sups</string>
    <string>n.sups</string>
    <string>zero.subs</string>
    <string>one.subs</string>
    <string>two.subs</string>
    <string>three.subs</string>
    <string>four.subs</string>
    <string>five.subs</string>
    <string>six.subs</string>
    <string>seven.subs</string>
    <string>eight.subs</string>
    <string>nine.subs</string>
    <string>parenleft.subs</string>
    <string>parenright.subs</string>
    <string>schwa.sups</string>
    <string>colonmonetary</string>
    <string>lira</string>
    <string>naira</string>
    <string>peseta</string>
    <string>dong</string>
    <string>Euro</string>
    <string>peso</string>
    <string>guarani</string>
    <string>cedi</string>
    <string>rupeeindian</string>
    <string>liraturkish</string>
    <string>litre</string>
    <string>soundcopyright</string>
    <string>servicemark</string>
    <string>trademark</string>
    <string>Omega.math</string>
    <string>estimated</string>
    <string>onethird</string>
    <string>twothirds</string>
    <string>oneeighth</string>
    <string>threeeighths</string>
    <string>fiveeighths</string>
    <string>seveneighths</string>
    <string>arrowleft</string>
    <string>arrowup</string>
    <string>arrowright</string>
    <string>arrowdown</string>
    <string>partialdiff</string>
    <string>Delta.math</string>
    <string>product</string>
    <string>summation</string>
    <string>minus</string>
    <string>divisionslash</string>
    <string>bulletoperator</string>
    <string>radical</string>
    <string>infinity</string>
    <string>integral</string>
    <string>approxequal</string>
    <string>notequal</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>ceilingleft</string>
    <string>ceilingright</string>
    <string>floorleft</string>
    <string>floorright</string>
    <string>squareblack</string>
    <string>triangleblackup</string>
    <string>trianglewhiteup</string>
    <string>triangleblackright</string>
    <string>trianglewhiteright</string>
    <string>triangleblackdown</string>
    <string>trianglewhitedown</string>
    <string>triangleblackleft</string>
    <string>trianglewhiteleft</string>
    <string>diamondblack</string>
    <string>fisheye</string>
    <string>lozenge</string>
    <string>circledotted</string>
    <string>checkbox</string>
    <string>checkedbox</string>
    <string>eighthnote</string>
    <string>check</string>
    <string>squareshadow</string>
    <string>brackhalftopleft</string>
    <string>brackhalftopright</string>
    <string>brackhalfbotleft</string>
    <string>brackhalfbotright</string>
    <string>f_f</string>
    <string>fi</string>
    <string>fl</string>
    <string>ZWNBS</string>
    <string>.notdef</string>
    <string>acutecmb.cap</string>
    <string>breveacute</string>
    <string>breveacute.cap</string>
    <string>brevecmb.cap</string>
    <string>brevegrave</string>
    <string>brevegrave.cap</string>
    <string>brevehoi</string>
    <string>brevehoi.cap</string>
    <string>brevetilde</string>
    <string>brevetilde.cap</string>
    <string>caron.alt</string>
    <string>caroncmb.cap</string>
    <string>cedillacmb.cap</string>
    <string>circumflexacute</string>
    <string>circumflexacute.cap</string>
    <string>circumflexbreve</string>
    <string>circumflexbreve.cap</string>
    <string>circumflexcmb.cap</string>
    <string>circumflexgrave</string>
    <string>circumflexgrave.cap</string>
    <string>circumflexhoi</string>
    <string>circumflexhoi.cap</string>
    <string>circumflextilde</string>
    <string>circumflextilde.cap</string>
    <string>comma.dnom</string>
    <string>comma.numr</string>
    <string>comma.subs</string>
    <string>comma.sups</string>
    <string>commabelowcmb.alt</string>
    <string>dblgravecmb.cap</string>
    <string>dieresisacute</string>
    <string>dieresisacute.cap</string>
    <string>dieresiscaron</string>
    <string>dieresiscaron.cap</string>
    <string>dieresiscmb.cap</string>
    <string>dieresisgrave</string>
    <string>dieresisgrave.cap</string>
    <string>dieresismacron</string>
    <string>dieresismacron.cap</string>
    <string>dotaccentcmb.cap</string>
    <string>eacute.sups</string>
    <string>egrave.sups</string>
    <string>eight.dnom</string>
    <string>eight.numr</string>
    <string>eight.onum</string>
    <string>eight.pnum</string>
    <string>eight.tnum</string>
    <string>five.dnom</string>
    <string>five.numr</string>
    <string>five.onum</string>
    <string>five.pnum</string>
    <string>five.tnum</string>
    <string>four.dnom</string>
    <string>four.numr</string>
    <string>four.onum</string>
    <string>four.pnum</string>
    <string>four.tnum</string>
    <string>gravecmb.cap</string>
    <string>gtilde</string>
    <string>hoicmb.cap</string>
    <string>hungarumlautcmb.cap</string>
    <string>macronacute</string>
    <string>macronacute.cap</string>
    <string>macroncmb.cap</string>
    <string>nbspace.frac</string>
    <string>nine.dnom</string>
    <string>nine.numr</string>
    <string>nine.onum</string>
    <string>nine.pnum</string>
    <string>nine.tnum</string>
    <string>ogonekcmb.cap</string>
    <string>one.dnom</string>
    <string>one.numr</string>
    <string>one.onum</string>
    <string>one.pnum</string>
    <string>one.tnum</string>
    <string>parenleft.dnom</string>
    <string>parenleft.numr</string>
    <string>parenright.dnom</string>
    <string>parenright.numr</string>
    <string>period.dnom</string>
    <string>period.numr</string>
    <string>period.subs</string>
    <string>period.sups</string>
    <string>q.sups</string>
    <string>ringcmb.cap</string>
    <string>seven.dnom</string>
    <string>seven.numr</string>
    <string>seven.onum</string>
    <string>seven.pnum</string>
    <string>seven.tnum</string>
    <string>six.dnom</string>
    <string>six.numr</string>
    <string>six.onum</string>
    <string>six.pnum</string>
    <string>six.tnum</string>
    <string>slash.frac</string>
    <string>space.frac</string>
    <string>three.dnom</string>
    <string>three.numr</string>
    <string>three.onum</string>
    <string>three.pnum</string>
    <string>three.tnum</string>
    <string>tildecmb.cap</string>
    <string>two.dnom</string>
    <string>two.numr</string>
    <string>two.onum</string>
    <string>two.pnum</string>
    <string>two.tnum</string>
    <string>zero.0</string>
    <string>zero.0p</string>
    <string>zero.0ps</string>
    <string>zero.0s</string>
    <string>zero.dnom</string>
    <string>zero.numr</string>
    <string>zero.onum</string>
    <string>zero.pnum</string>
    <string>zero.tnum</string>
  </array>
</dict>
</plist>
