<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>u16F03</key>
  <string>u16F_03.glif</string>
  <key>u16F12</key>
  <string>u16F_12.glif</string>
  <key>u16F14</key>
  <string>u16F_14.glif</string>
  <key>u16F14.flat</key>
  <string>u16F_14.flat.glif</string>
  <key>u16F14.ygp</key>
  <string>u16F_14.ygp.glif</string>
  <key>u16F18</key>
  <string>u16F_18.glif</string>
  <key>u16F23</key>
  <string>u16F_23.glif</string>
  <key>u16F23.flat</key>
  <string>u16F_23.flat.glif</string>
  <key>u16F23.ygp</key>
  <string>u16F_23.ygp.glif</string>
  <key>u16F2C</key>
  <string>u16F_2C_.glif</string>
  <key>u16F34</key>
  <string>u16F_34.glif</string>
  <key>u16F3B</key>
  <string>u16F_3B_.glif</string>
  <key>u16F51</key>
  <string>u16F_51.glif</string>
  <key>u16F63</key>
  <string>u16F_63.glif</string>
  <key>u16F64</key>
  <string>u16F_64.glif</string>
  <key>u16F68</key>
  <string>u16F_68.glif</string>
  <key>u16F6C</key>
  <string>u16F_6C_.glif</string>
  <key>u16F7A.point</key>
  <string>u16F_7A_.point.glif</string>
  <key>u16F7D</key>
  <string>u16F_7D_.glif</string>
  <key>u16F7E</key>
  <string>u16F_7E_.glif</string>
  <key>uni3001</key>
  <string>uni3001.glif</string>
  <key>uni300E</key>
  <string>uni300E_.glif</string>
  <key>wart</key>
  <string>wart.glif</string>
</dict>
</plist>
